details {
  border-top: 0.3rem solid lavender;
  cursor: default;
  overflow: hidden;
  width: 100%;
}

summary {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 4.8rem;
  justify-content: space-between;
  list-style-position: outside;
  padding: 0 0.8rem 0 0;
  user-select: none;
  white-space: nowrap;
}

summary::marker {
  color: transparent;
  display: none;
}

summary::-webkit-details-marker {
  color: transparent;
  display: none;
}

details * {
  margin: 0;
}

details::details-content {
  block-size: 0;
  transition: block-size 0.4s, content-visibility 0.4s;
  transition-behavior: allow-discrete;
}

details[open]::details-content {
  block-size: auto;
}

details p {
  font-size: smaller;
  padding-block: 1rem;
} 

details ul {
  font-size: smaller;
  padding-inline-start: 2em;
}

details summary [data-icon] {
  rotate: 0;
  transition: rotate 0.2s;
}

details[open] summary [data-icon] {
  rotate: 180deg;
}

summary:focus-visible {
  outline: 0.3rem solid deeppink;
  outline-offset: -0.3rem;
}
