* {
  box-sizing: border-box;
}

:root {
  interpolate-size: allow-keywords;
}

body {
  margin: 0;
}

/* https://css-tricks.com/the-hidden-attribute-is-visibly-weak/ */
[hidden] {
  display: none !important;
}
