:root {
  --easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.stage {
  aspect-ratio: 1;
  border-radius: 1.6rem;
  box-shadow: 0 0 0 0.3rem lavender;
  position: relative;
  width: 100%;
}

.tree {
  background: url(../../media/sprites/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1.6rem;
  display: grid;
  inset: 0;
  overflow: hidden;
  place-content: center;
  position: absolute;
}

.tree canvas[data-cursor="grab"] {
  cursor: grab;
}

.tree canvas[data-cursor="grab"]:active {
  cursor: grabbing;
}

.fields {
  inset: 0;
  pointer-events: none;
  position: absolute;
}

.field {
  border-radius: 0.8rem 0.8rem 25% 25%;
  margin-top: calc(-2.25% + 1px);
  opacity: 0;
  padding-bottom: 2.25%;
  pointer-events: none;
  position: absolute;
  scale: 0;
  transform-origin: center bottom;
  transition: scale 0.2s var(--easeOutBack), opacity 0.2s var(--easeOutBack);
  transition-delay: 0.1s;
  translate: -50% -100%;
}

.field.clearing {
  opacity: 0 !important;
  pointer-events: none;
  scale: 0 !important;
}

.field::after {
  aspect-ratio: 1;
  background: rebeccapurple;
  border-radius: 0 0 0.4rem 0;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  content: "";
  display: block;
  left: 50%;
  margin-top: -0.5px;
  pointer-events: none;
  position: absolute;
  rotate: 45deg;
  transition: background-color 0.2s, opacity 0.2s;
  translate: -50% -50%;
  width: 1rem;
}

.field textarea::placeholder {
  color: plum;
}

.field textarea {
  background: rebeccapurple;
  border: none;
  border-radius: 0.8rem;
  color: ghostwhite;
  display: block;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 0.8rem;
  resize: none;
  transition: background-color 0.2s, opacity 0.2s;
}

/* .field textarea:focus-visible {
  outline: 0.3rem solid deeppink;
} */

.field.visible,
.field:hover {
  opacity: 1;
  scale: 1;
}

.field.interactive {
  pointer-events: all;
}

.field.bin::after {
  background: deeppink;
  opacity: 0.5;
}

.field.bin textarea {
  background: deeppink;
  opacity: 0.5;
  text-decoration: line-through;
}

.field.bin textarea::placeholder {
  color: lavender;
}
.list {
  background: coral;
  border-radius: 1.6rem;
  display: grid;
  inset: 0;
  overflow: hidden;
  place-content: center;
  position: absolute;
}

.controls {
  inset: 0;
  pointer-events: none;
  position: absolute;
}

.controls > * {
  pointer-events: all;
}
